<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SpringBoot/Usuarios</title>

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      
<style type="text/css">
table.striped>tbody>tr:nth-child(odd) {
	background-color: rgba(158, 154, 154, 0.5);
}

form input[type=submit] {
 color: white;
}

.mensagem {
            color: blue;
            font-size: 18px;
            font-weight: bold;
        }
</style>
</head>
<body>
<fieldset>

<legend>Menu</legend>
 <a href="/spring/logout"><span>Logout</span></a>
 
 <br/>
<a  href="/spring/profissao">Cad.Profissão</a>	
<br/>
<a  href="/spring/usuarios">Cad.Usuarios</a>	

</fieldset>

<fieldset>
<legend>Cadastro de Usuarios</legend>


 <a class="waves-effect waves-light btn" href="/spring/cadastropessoa">Cad. Pessoa</a>
 <fieldset>
 
 <legend>Usuarios</legend>
 

 

<br/>
    <div th:each = "m : ${msg}">
        <span  class="mensagem"  th:text = "${m}"> </span>
    </div>
<br/>
 
 <div class="row">
    <form th:action="@{/addpermissao/}"  method="post" class="col s12" onsubmit="return validarCampos()? true : false">
    <div class="row">
    	
    	 <div class="input-field col s6">
				 <label for="usuarios" class="active">Usuarios</label>
				 <select class="browser-default" th:field="*{usuarios}" id="usuarios">
						<option th:each = "u : ${usuarios}" th:value="${u.id}" th:text="${u.nome}">
				 </select>
			 </div>
			 
			 
			 
			 
			 <div class="input-field col s6">
				 <label for="permissao" class="active">Permissão</label>
				 <select class="browser-default" id="permissao"  >
				   <option value="" disabled selected>--[Selecione]--</option>
				   <option value="1" th:text="Admin"/>
				   <option value="2" th:text="User"/>
				 </select>
				</div>
			</div>
    	
    	
    	
    	<input type="submit" value="Adicionar"  class="waves-effect waves-light btn">
    </div>
   </form>
 </div>
 
 </fieldset>
 
 
 <script type="text/javascript">
 
 </script>
</body>
</html>